<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398973746460-dbeb1t59o78s1ngi9fp5bleljgqeq9bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398973746460-dbeb1t59o78s1ngi9fp5bleljgqeq9bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBTOpBKrOQsC63MdDm1tTL3qLn5OnaUzS8</string>
	<key>GCM_SENDER_ID</key>
	<string>398973746460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.icustoms.com</string>
	<key>PROJECT_ID</key>
	<string>icustoms-56aca</string>
	<key>STORAGE_BUCKET</key>
	<string>icustoms-56aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398973746460:ios:11e621de80d8dc4da70ed9</string>
	<key>DATABASE_URL</key>
	<string>https://icustoms-56aca.firebaseio.com</string>
</dict>
</plist>